<div class="column">
    <div class="column col-11 col-sm-12">
        <h1>Comment on blog post</h1>
        {{#if comment}}
            <div class="card">
                {{#if signedIn}}
                <div class="card-header">
                    <div class="card-title h6">
                        <form action="/delete/comment/{{comment.id}}" method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input class="btn" type="submit" value="Delete Post">
                        </form>
                    </div>
                    <div class="card-title h6">
                        <a href="/edit/comment/{{comment.id}}" class="btn">Edit comment</a>
                    </div>
                </div>
                {{/if}}
                <div class="card-body" id="card-content">
                    <h1>{{comment.username}}</h1>
                    <p>{{comment.content}}</p>
                </div>
            </div>
        {{else}}
        <br>
        {{#if errorMessage}}
            <h2>{{errorMessage}}</h2>
        {{else}}
            <h2>No Comments yet</h2>
        {{/if}}
        {{/if}}
    </div>
</div>