<div class="column">
    <div class="column col-11 col-sm-12" id="blog-content">
        <h1>Comment on blog post</h1>
        {{#if comment}}
            <div class="card">
                {{#if signedIn}}
                <div class="card-header">
                    <div class="card-title h6">
                        <form action="/delete/comment/{{comment.comment_id}}" method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input class="btn" type="submit" value="Delete Post">
                        </form>
                    </div>
                </div>
                {{/if}}
                <div class="card-body" id="card-content">
                    <h1>{{comment.comment_username}}</h1>
                    <p>{{comment.comment_content}}</p>
                </div>
            </div>
        {{else}}
        <br>
        <h1>No Comments yet</h1>
        {{/if}}
    </div>
</div>