<div class="column">
    <div class="column col-11">
        <h1>contact</h1>
        {{#if message}}
            <h3>{{message}}</h3>
        {{else}}
        {{#if validationErrors.length}}

        <ul>
            {{#each validationErrors}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <form action="" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <fieldset>
            <div class="form-group">
            <label class="form-label" for="input-example-19">Email</label>
            <input class="form-input is-error" type="email" id="input-example-19" placeholder="email" name="email" value="{{validateEmail}}" required>
            </div>
            <div class="form-group">
            <label class="form-label" for="input-example-20">Message</label>
            <textarea class="form-input is-error" id="input-example-20" placeholder="Textarea" rows="10" name="message" required>{{validateContent}}</textarea>
            </div>
        </fieldset>
        <div class="form-group">
                <input class="btn" type="submit" value="Upload">
            </div>
        </form>

        {{else}}

        <form action="" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <fieldset>
            <div class="form-group">
            <label class="form-label" for="input-example-19">Email</label>
            <input class="form-input" type="email" id="input-example-19" placeholder="email" name="email" required>
            </div>
            <div class="form-group">
            <label class="form-label" for="input-example-20">Message</label>
            <textarea class="form-input" id="input-example-20" placeholder="Textarea" rows="10" name="message" required></textarea>
            </div>
        </fieldset>
        <div class="form-group">
                <input class="btn" type="submit" value="Submit">
            </div>
        </form>

        {{/if}}
        {{/if}}
    </div>
</div>