<div class="column">
    <div class="column col-11" id="blog-content">
        <button class="btn btn-primary"><a href="/contact-requests">Go back</a></button>
        {{#if request}}
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h6">
                            <form action="/delete/contact-request/{{request.contact_id}}" method="POST">
                                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                <input class="btn" type="submit" value="Delete Post">
                            </form>
                        </div>
                        <div class="card-title h5">{{request.contact_email}}</div>
                    </div>
                    <div class="card-body" id="card-content">
                        <p id="text">{{request.contact_content}}</p>
                    </div>
                </div>
    {{else}}
        <h1>No contact requests</h1>
    {{/if}}
    </div>
</div>