<div class="column">
    <div class="column col-11 col-sm-12" id="blog-content">
    {{#if validationErrors.length}}

    <ul>
        {{#each validationErrors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <form action="" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <fieldset>
        <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-input is-error" type="text" id="name" name="name" value="{{name}}">
        </div>
        <div class="form-group">
            <label class="form-label" for="page-content">Message</label>
            <textarea class="form-input is-error" id="page-content" placeholder="Textarea" rows="10" name="content">{{content}}</textarea>
        </div>
    </fieldset>
    <div class="form-group">
            <input class="form-submit" type="submit" placeholder="Login">
        </div>
    </form>

    {{else}}

    <form action="" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <fieldset>
        <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-input" type="text" id="name" name="name" value="{{entry.name}}">
        </div>
        <div class="form-group">
            <label class="form-label" for="page-content">Message</label>
            <textarea class="form-input" id="page-content" placeholder="Textarea" rows="10" name="content">{{entry.content}}</textarea>
        </div>
    </fieldset>
    <div class="form-group">
            <input class="form-submit" type="submit" placeholder="Login">
        </div>
    </form>

    {{/if}}
    </div>
</div>