<div class="column">
    <div class="column col-11" id="blog-content">
        <a class="btn btn-primary" href="#modal">Write a guestbook entry</a>

        <div class="modal" id="modal"><a class="modal-overlay" href="#modals" aria-label="Close"></a>
            <div class="modal-container" role="document">
                <div class="modal-header"><a class="btn btn-clear float-right" href="#modals" aria-label="Close"></a>
                    <div class="modal-title h5">Modal title</div>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <form action="" method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input type="text" name="name" placeholder="name" required>
                            <input type="text" name="content" placeholder="content" minlength="3" maxlength="250" required>
                            <input type="submit" placeholder="upload">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        {{#if row.length}}
            {{#each row}}
                <h2><a href="/guestbook-entry/{{id}}">{{name}}</a></h2>
                <p>{{content}}</p>
            {{/each}}
        {{else}}
            <h1>No guestbook enteries</h1>
            <p>Be the first to post in the guestbook</p>
        {{/if}}
    </div>
</div>