<div class="column">
    <div class="column col-11" id="blog-content">
        <button class="btn btn-primary"><a href="/guestbook">Go back</a></button>
        {{#if entry}}
            <div class="card">
                {{#if signedIn}}
                <div class="card-header">
                    <div class="card-title h6">
                        <form action="/delete/guestbook-entry/{{entry.id}}" method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input class="btn" type="submit" value="Delete Post">
                        </form>
                    </div>
                </div>
                <div class="card-header">
                    <div class="card-title h6">
                        <a href="/edit/guestbook-entry/{{entry.id}}" class="btn">Edit guestbook entry</a>
                    </div>
                </div>
                {{/if}}
                <div class="card-body" id="card-content">
                    <h3>{{entry.name}}</h3>
                    <p id="text">{{entry.content}}</p>
                </div>
            </div>
    {{else}}
        {{#if message}}
        <h2>{{message}}</h2>
        {{else}}
        <h2>No guestbook entry</h2>
        {{/if}}
    {{/if}}
    </div>
</div>