 <div class="column">
      <div class="column col-11 col-sm-12">
        {{#if message}}
            <h3>{{message}}</h3>
        {{/if}}
        {{#if Posts.length}}
            {{#each Posts}}
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5"><a href="/post/{{this.slug}}">{{this.slug}}</a></div>
                        <div class="card-subtitle text-gray"><a href="/search?q={{this.category}}">{{this.category}}</a></div>
                    </div>
                    <div class="card-body" id="card-content">
                        {{{this.content}}}
                    </div>
                    <br>
                </div>
            {{/each}}
            {{#if lastUrl}}
            <div class="button-more-posts">
                <a href="{{lastUrl}}" class="btn btn-primary">previous page</a>
            </div>
            {{/if}}
            <br>
            {{#if nextUrl}}
            <div class="button-more-posts">
                <a href="{{nextUrl}}" class="btn btn-primary">next page</a>
            </div>
            {{/if}}
        {{else}}
        <h1>No blog posts</h1>
        {{/if}}
    </div>
</div>