<div class="column">
    <div class="column col-11 col-sm-12">
        <button class="btn btn-primary"><a href="/posts">Go back</a></button>
    {{#if Post}}
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">{{Post.slug}}</div>
                <div class="card-subtitle text-gray"><a href="/search?q={{Post.category}}">{{Post.category}}</a></div>
            </div>
            {{#if signedIn}}
            <div class="card-header">
                <div class="card-title h6">
                    <form action="/delete/post/{{Post.slug}}" method="POST">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <input class="btn" type="submit" value="Delete Post">
                    </form>
                </div>
                <div class="card-title h6"><a href="/edit/post/{{Post.slug}}" class="btn">Edit Post</a></div>
            </div>
            {{/if}}
            <div class="card-body" id="card-content">
                <p>{{{Post.content}}}</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"><a href="/new/comment/{{Post.id}}">Comment</a></button>
            </div>
            <iframe src="/comments/{{Post.id}}" height="300px" style="margin-top:50px;"></iframe> 
        </div>
    {{else}}
    {{#if errorMessage}}
        <h2>{{errorMessage}}</h2>
    {{else}}
        <h2>No blog posts yet</h2>
    {{/if}}
    {{/if}}
    </div>
</div>